/* zmienne */

:root {
	--color-font-first: #212121;
	--color-font-second: #757575;
	--color-font-third: #2196f3;
	--color-bcg-first: #fff;
	--color-bcg-second: #2f303a;
	--color-frame-first: #afb1b8;
	--border-radius-default: 4px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-bcg-first);
	font-family: 'Roboto', sans-serif;
	color: var(--color-font-first);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}

/* Header, nav, logo */

.header {
	padding-top: 24px;
	padding-bottom: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-line {
	border-bottom: #ececec solid 1px;
}

.is-active {
	position: relative;
	color: var(--color-font-third);
}

.is-active::after {
	content: '';
	position: absolute;
	display: block;
	top: 43px;
	width: 100%;
	height: 4px;
	background-color: var(--color-font-third);
	border-radius: 2px;
}

.navigation {
	display: flex;
}

.logo {
	margin-right: 93px;
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	color: #000;
	text-decoration: none;
}

.blue-logo {
	color: var(--color-font-third);
}

.nav-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.nav-link {
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-font-first);
}
.nav-item {
	margin-right: 46px;
	display: inline;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
	color: var(--color-font-third);
}

.contact-item {
	display: inline;
	margin-right: 50px;
}

.contact-item:last-child {
	margin-right: 0;
}

.contact-list {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.contact-link {
	display: flex;
	align-items: center;
	color: var(--color-font-second);
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:active {
	color: var(--color-font-third);
}

.contact-icon {
	margin-right: 10px;
	fill: var(--color-font-second);
}
.contact-link:hover svg {
	fill: #2196f3;
}

/* Hero */

.hero {
	background-color: var(--color-bcg-second);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	padding-top: 200px;
	padding-bottom: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-title {
	color: var(--color-bcg-first);
	text-transform: uppercase;
	font-size: 44px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
}

.btn-hero {
	font-family: 'Roboto' sans-serif;
	color: var(--color-bcg-first);
	background-color: var(--color-font-third);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	padding: 10px 41px 10px 42px;
	cursor: pointer;
}

.btn-hero:hover,
.btn-hero:focus,
.btn-hero:active {
	background-color: var(--color-bcg-first);
	color: var(--color-font-third);
}

/* Porfolio menu */

.portfolio-menu-list {
	margin: auto;
	padding: 94px 0 50px 0;
	padding-bottom: 94px;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.btn-submenu {
	font-family: 'Roboto' sans-serif;
	text-align: center;
	background-color: #f5f4fa;
	padding: 0px 20px;
	min-height: 38px;
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn-submenu:hover,
.btn-submenu:focus,
.btn-submenu:active {
	background-color: var(--color-font-third);
	color: var(--color-bcg-first);
}

/* Our Skills */

.skills-box {
	position: relative;
	width: 370px;
	height: 274px;
	overflow: hidden;
}

.skills-photo-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

.skills-item:hover .skills-photo-overlay {
	transform: translateY(0);
}

.skills-photo-overlay p {
	color: var(--color-bcg-first);
	font-size: 18px;
	line-height: 1.6;
	margin-left: 24px;
	margin-right: 24px;
}

.skills-list {
	padding-bottom: 94px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;
	column-gap: 20px;
}

.skills-item:hover {
	cursor: pointer;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.skills-name {
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.06em;
}

.skills-list {
	list-style: none;
}

.skills-description {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 20px 24px;
}

.skills-description-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: var(--color-font-second);
}

/* Section Lorem*/

.lorem {
	margin-top: 94px;
	background-color: var(--color-bcg-first);
}

.lorem-item {
	max-width: 270px;
	display: inline-block;
	margin-right: 20px;
}

.lorem-item:last-child {
	margin-right: 0;
}

.lorem-list {
	list-style: none;
}

.lorem-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}

.lorem-text {
	font-size: 14px;
	line-height: 24px;
	color: var(--color-font-second);
	letter-spacing: 3%;
}

.lorem-box {
	background-color: #f5f4fa;
	border-radius: 4px;
	padding: 25px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

/* ourJob offer */

.offer {
	padding-bottom: 94px;
	background-color: var(--color-bcg-first);
}

.offer-title {
	margin-top: 94px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 36px;
}

.offer-list {
	list-style: none;
}
.offer-item {
	position: relative;
	display: inline-block;
	margin-right: 20px;
}

.offer-item > img {
	display: block;
}

.offer-description {
	background-color: rgba(47, 48, 58, 0.8);
	color: var(--color-bcg-first);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 27px 0;
	width: 360px;
	position: absolute;
	bottom: 0;
	text-align: center;
}

/* ourTeam */

.team-list {
	display: flex;
	justify-content: center;
	list-style: none;
}

.team {
	text-align: center;
	background-color: #f5f4fa;
	padding-top: 94px;
	padding-bottom: 94px;
	margin-bottom: 0px;
}

.team-item {
	background-color: var(--color-bcg-first);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	max-width: 270px;
	display: inline-block;
	margin-right: 30px;
}

.team-item:last-child {
	margin-right: 0;
}
.team-title {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	font-size: 36px;
	font-weight: 700;
}

.team-person {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0.03em;
}

.team-person-work {
	color: var(--color-font-second);
}

.team-photo {
	margin-bottom: 30px;
}

.team-description {
	padding-top: 30px;
}

.team-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	fill: rgba(175, 177, 184, 1);
	height: 44px;
	width: 44px;
	margin-right: 10px;
}

.team-social-link:hover {
	fill: var(--color-bcg-first);
	background-color: var(--color-font-third);
}

.team-social-icons {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
/* Our Clients */

.clients {
	text-align: center;
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients-title {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	font-size: 36px;
	font-weight: 700;
}

.clients-list {
	display: flex;
	list-style: none;
}

.clients-item {
	margin-right: 30px;
	padding: 16px 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid var(--color-frame-first);
}

.clients-item:hover {
	border: 1px solid var(--color-font-third);
}

.clients-icon {
	fill: var(--color-frame-first);
}

.clients-item:hover .clients-icon {
	fill: var(--color-font-third);
}

/* Footer adress */
.footer-box {
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2f303a;
}

.footer .logo {
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	color: var(--color-bcg-first);
}

.address-list {
	padding-left: 0;
	padding-top: 20px;
	width: 250px;
	list-style-type: none;
}

.address-item {
	color: var(--color-bcg-first);
	font-size: 14px;
	font-style: normal;
	line-height: 1.7em;
	letter-spacing: 0.03em;
}

.address-link {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.address-link:hover,
.address-link:focus,
.address-link:active {
	color: var(--color-bcg-first);
}

/* Footer social */

.footer-social {
	margin-left: 60px;
}

.footer-social p {
	color: var(--color-bcg-first);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-social-list {
	display: flex;
	text-align: center;
	justify-content: left;
	list-style-type: none;
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	fill: #ececec;
	height: 44px;
	width: 44px;
	margin-right: 10px;
}

.footer-social-link:hover {
	background-color: var(--color-font-third);
}

/* Footer Form */

.footer-newsletter {
	width: 570px;
	height: 86px;
	margin-left: 90px;
}

.footer-newsletter p {
	color: var(--color-bcg-first);
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-label {
	margin-top: 20px;
}

.newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.newsletter-input {
	width: 358px;
	height: 50px;
	padding: 15px 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: #2f303a;
	border-radius: 4px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-input:hover,
.newsletter-input:focus,
.newsletter-input:active {
	color: #fff;
	border: 1px solid #2196f3;
}

.newsletter-btn {
	width: 200px;
	height: 50px;
	color: var(--color-bcg-first);
	background-color: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 2;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	cursor: pointer;
}

.newsletter-btn:hover {
	text-decoration: underline;
}

.footer-icon-newsletter {
	fill: #fff;
}

/* MODAL WINDOW */

.is-hidden {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}

.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 528px;
	padding: 40px;
	min-height: 581px;
	background-color: var(--color-bcg-first);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transform: translate(-50%, -50%) scale(1);
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.4);
}

.modal-btn-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	font-size: 20px;
	transition: 0.3s;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--color-bcg-first);
	border-radius: 50%;
	cursor: pointer;
}

.modal-btn-close:hover {
	background-color: rgba(33, 150, 243, 0.7);
}

/* .modal-form {
	display: flex;
	flex-direction: column;
} */

.modal-form-label {
	display: block;
	position: relative;
	font-size: 12px;
	margin-bottom: 10px;
	color: var(--color-font-second);
}

.modal-form-input {
	display: block;
	width: 100%;
	margin: auto;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-top: 4px;
	padding-left: 40px;
	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal p {
	margin-top: 40px;
	margin-bottom: 30px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.modal-form-icon {
	position: absolute;
	top: 27px;
	left: 13px;
}

.modal-form-input:hover,
.modal-form-input:active,
.modal-form-input:focus {
	border: 1px solid var(--color-font-third);
	outline: none;
}

.modal-form-label:hover svg {
	fill: #2196f3;
}

.modal-form-textarea {
	height: 120px;
	resize: none;
	padding: 12px 16px;
	font-size: 12px;
}

.modal-form-check {
	display: block;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	line-height: 1.8;
	color: var(--color-font-second);
}

.modal-link {
	color: var(--color-font-third);
}

.modal-form-btn {
	padding: 10px 76px;
	margin: 30px 120px;
	background-color: var(--color-font-third);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--color-bcg-first);
	font-weight: 700;
	font-size: 16px;
	line-height: 2;
	border: none;
	cursor: pointer;
}

.modal-form-btn:hover,
.modal-form-btn:focus,
.modal-form-btn:active {
	background-color: var(--color-bcg-first);
	color: var(--color-font-third);
}
